# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp

# Local data
*.db
!tests/*.db

# Environment
.env
